In [ ]:
from pyspark.sql.window import Window
import pyspark.sql.functions as F
from pyspark.sql.functions import rank
from pyspark.sql.functions import sum
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import concat, col, lit

import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
%matplotlib inline

import datetime
from datetime import datetime, timedelta
from dateutil.rrule import rrule, MONTHLY
from dateutil.relativedelta import relativedelta

import statsmodels
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
from sklearn.linear_model import LinearRegression
import statistics

import warnings
warnings.filterwarnings('ignore')

### Extraction of discounts of the consignee based on consigness FTEx consumption

In [ ]:
data = sqlContext.sql(""" select * from dnd.cftex_v2 """)
main_data = data.toPandas().dropna()

main_data = main_data[(main_data['CONTAINER_TYPE_CD'] == 'DRY') &  ((main_data['CONTAINER_SIZE_CD'] == '20') | (main_data['CONTAINER_SIZE_CD'] == '40'))]
main_data = main_data[(main_data['CDET_Days'] > 0) & (main_data['Std_FreeTimeGranted'] > 0) & (main_data['CONSIGNEE_CUSTOMER_CD'] != 'NULL')]
main_data['Import_Country'] = main_data['DIPLA_CITY_CD'].apply(lambda x : x[:2])

main_data = main_data.drop(['LOPFI_CITY_CD', 'FreightType_Cd', 'GateIN', 'DischargeDate', 'BOOKED_FFE'], axis=1)
main_data['CONTAINER_SIZE_CD'] = pd.to_numeric(main_data['CONTAINER_SIZE_CD'])

main_data1 = main_data.copy()
main_data1['PCD_Month'] = main_data1['PRICE_CALC_DT'].dt.strftime('%Y-%m')

region_data = spark.read.format("orc").load("/mnt/ipw_ontology_prod/v1/",header="True",inferschema="True")
region_data = region_data.toPandas()
region_data = region_data[(region_data['COUNTRY_CODE']!='Unknown')][['COUNTRY_CODE', 'REGION_CODE']].drop_duplicates()
region_data = region_data.rename(columns={'COUNTRY_CODE':'Import_Country', 'REGION_CODE':'region_cd'})

main_data1 = main_data1.merge(region_data, on =['Import_Country'], how = 'left')
main_data1 = main_data1[main_data1['region_cd'] == 'EUR']

main_data1.tail()

         OPERATOR_DESC PRICE_CALC_DT  ... PCD_Month region_cd
18842653        Maersk    2021-10-26  ...   2021-10       EUR
18842656        Maersk    2023-10-30  ...   2023-10       EUR
18842658        Maersk    2023-01-20  ...   2023-01       EUR
18842659        Maersk    2022-09-04  ...   2022-09       EUR
18842668        Maersk    2021-10-05  ...   2021-10       EUR

[5 rows x 19 columns]

In [ ]:
ship_df1 = main_data1.copy()

ship_df1['PCD_Month'] = ship_df1['PCD_Month'].apply(lambda x : x[-2:])
ship_df1 = ship_df1.groupby(['PCD_Month', 'CONSIGNEE_CUSTOMER_CD','DIPLA_CITY_CD', 'CONTAINER_SIZE_CD']).sum().reset_index()

ship_df1[['FTEx_Taken']] = ship_df1[['FTEx_Taken']].astype(int)
ship_df1['SFT_Consumption%'] = (ship_df1['ActualTurnTime_Days']/ship_df1['Std_FreeTimeGranted']) * 100

ship_df1['ActualTurnTime_Days-SFT'] = ship_df1['ActualTurnTime_Days'] -  ship_df1['Std_FreeTimeGranted']
ship_df1.loc[ship_df1['ActualTurnTime_Days-SFT']<0, 'ActualTurnTime_Days-SFT'] = 0

ship_df1.loc[ship_df1['FTEx_Taken'] == 0, 'ActualTurnTime_Days-SFT'] = 0
ship_df1.loc[(ship_df1['FTEx_Taken'] > 0) & (ship_df1['SFT_Consumption%'] > 100), 'SFT_Consumption%'] = 100

ship_df1['FTEx_Consumption%'] = (ship_df1['ActualTurnTime_Days-SFT']/ship_df1['FTEx_Taken']) * 100

ship_df1.loc[ship_df1['FTEx_Consumption%'] > 100, 'SFT_Consumption%'] = ((ship_df1['ActualTurnTime_Days'] - ship_df1['FTEx_Taken'])/ship_df1['Std_FreeTimeGranted']) * 100
ship_df1.loc[ship_df1['FTEx_Consumption%'] > 100, 'FTEx_Consumption%'] = 100

ship_df1[['FTEx_Consumption%', 'SFT_Consumption%']] = ship_df1[['FTEx_Consumption%', 'SFT_Consumption%']].fillna(0)

ship_df1['FTEx_Consumption%'] = round(ship_df1['FTEx_Consumption%'])
ship_df1[(ship_df1['FTEx_Taken']!=0) & (ship_df1['FTEx_Consumption%']!=0)].tail(10)
ship_df1.head()

  PCD_Month CONSIGNEE_CUSTOMER_CD  ... ActualTurnTime_Days-SFT  FTEx_Consumption%
0        01           09900000053  ...                       0                0.0
1        01           09900000056  ...                       0                0.0
2        01           09900050220  ...                       0                0.0
3        01           09900050220  ...                       0                0.0
4        01           10000004537  ...                       0                0.0

[5 rows x 13 columns]

In [ ]:
from datetime import datetime
ship_df1['PCD_Month'] = ship_df1['PCD_Month'].astype(int)

start_date = int(datetime.today().strftime('%m'))
end_date = int((datetime.today() + timedelta(days = 90)).strftime('%m'))
ship_df1 = ship_df1[ (ship_df1['PCD_Month'] >= start_date) & (ship_df1['PCD_Month'] < end_date)]
ship_df1['PCD_Month'] = ship_df1['PCD_Month'].astype(str)

ship_df1.head()

       PCD_Month  ... FTEx_Consumption%
389496         9  ...               0.0
389497         9  ...               0.0
389498         9  ...               0.0
389499         9  ...               0.0
389500         9  ...               0.0

[5 rows x 13 columns]

In [ ]:
ship_df1 = ship_df1.drop(['Std_FreeTimeGranted', 'Total_FreeTimeGranted_Days', 'ActualTurnTime_Days', 'CDET_Days', 'Delay', 'ActualTurnTime_Days-SFT'], axis=1)

ship_df1.loc[(ship_df1['FTEx_Taken'] != 0) & (ship_df1['FTEx_Consumption%'] >= 0) & (ship_df1['FTEx_Consumption%'] <= 10), 'FTEx_discount'] = 5
ship_df1.loc[(ship_df1['FTEx_Taken'] != 0) & (ship_df1['FTEx_Consumption%'] > 10) & (ship_df1['FTEx_Consumption%'] <= 25), 'FTEx_discount'] = 3
ship_df1.loc[(ship_df1['FTEx_Taken'] != 0) & (ship_df1['FTEx_Consumption%'] > 25) & (ship_df1['FTEx_Consumption%'] <= 50), 'FTEx_discount'] = 2 
ship_df1.loc[(ship_df1['FTEx_Taken'] != 0) & (ship_df1['FTEx_Consumption%'] > 50) & (ship_df1['FTEx_Consumption%'] <= 75), 'FTEx_discount'] = 1 
ship_df1.loc[(ship_df1['FTEx_Taken'] != 0) & (ship_df1['FTEx_Consumption%'] > 75) & (ship_df1['FTEx_Consumption%'] <= 85), 'FTEx_discount'] = 0 
ship_df1.loc[(ship_df1['FTEx_Taken'] != 0) & (ship_df1['FTEx_Consumption%'] > 85) , 'FTEx_discount'] = 0


ship_df1.loc[(ship_df1['FTEx_Taken'] == 0) & (ship_df1['SFT_Consumption%'] >= 0) & (ship_df1['SFT_Consumption%'] <= 10), 'FTEx_discount'] = 5
ship_df1.loc[(ship_df1['FTEx_Taken'] == 0) & (ship_df1['SFT_Consumption%'] > 10) & (ship_df1['SFT_Consumption%'] <= 25), 'FTEx_discount'] = 3
ship_df1.loc[(ship_df1['FTEx_Taken'] == 0) & (ship_df1['SFT_Consumption%'] > 25) & (ship_df1['SFT_Consumption%'] <= 50), 'FTEx_discount'] = 2 
ship_df1.loc[(ship_df1['FTEx_Taken'] == 0) & (ship_df1['SFT_Consumption%'] > 50) & (ship_df1['SFT_Consumption%'] <= 75), 'FTEx_discount'] = 1 
ship_df1.loc[(ship_df1['FTEx_Taken'] == 0) & (ship_df1['SFT_Consumption%'] > 75) & (ship_df1['SFT_Consumption%'] <= 85), 'FTEx_discount'] = 0 
ship_df1.loc[(ship_df1['FTEx_Taken'] == 0) & (ship_df1['SFT_Consumption%'] > 85) , 'FTEx_discount'] = 0

ship_df1.tail()

       PCD_Month CONSIGNEE_CUSTOMER_CD  ... FTEx_Consumption%  FTEx_discount
532464        11           50000585257  ...               0.0            0.0
532465        11           50000585257  ...               0.0            3.0
532466        11           50000585257  ...               0.0            0.0
532467        11           50400011434  ...               0.0            0.0
532468        11            5043000523  ...               0.0            0.0

[5 rows x 8 columns]

### Extraction of discounts of the consignee based on commodity TT

In [ ]:
ship_df2 = main_data1[['PCD_Month', 'DIPLA_CITY_CD', 'CommoditySubType_Dsc', 'CONTAINER_SIZE_CD', 'ActualTurnTime_Days']].copy()
ship_df2['PCD_Month'] = ship_df2['PCD_Month'].apply(lambda x : x[-2:])
ship_df2 = ship_df2.groupby(['PCD_Month', 'DIPLA_CITY_CD', 'CommoditySubType_Dsc', 'CONTAINER_SIZE_CD'], as_index = False).mean()

ship_df2.head()

  PCD_Month DIPLA_CITY_CD  ... CONTAINER_SIZE_CD  ActualTurnTime_Days
0        01         ALDUR  ...                20            11.000000
1        01         ALDUR  ...                40            10.140351
2        01         ALDUR  ...                20            20.863636
3        01         ALDUR  ...                40             6.181818
4        01         ALDUR  ...                20             4.666667

[5 rows x 5 columns]

In [ ]:
ship_df2['PCD_Month'] = ship_df2['PCD_Month'].astype(int)

start_date = int(datetime.today().strftime('%m'))
end_date = int((datetime.today() + timedelta(days = 90)).strftime('%m'))
ship_df2 = ship_df2[ (ship_df2['PCD_Month'] >= start_date) & (ship_df2['PCD_Month'] < end_date)]
ship_df2['PCD_Month'] = ship_df2['PCD_Month'].astype(str)

ship_df2.head()

      PCD_Month DIPLA_CITY_CD  ... CONTAINER_SIZE_CD  ActualTurnTime_Days
42093         9         ALDUR  ...                20             7.000000
42094         9         ALDUR  ...                40            11.307692
42095         9         ALDUR  ...                20             9.407407
42096         9         ALDUR  ...                40             4.714286
42097         9         ALDUR  ...                20             7.000000

[5 rows x 5 columns]

In [ ]:
unique_month = ship_df2['PCD_Month'].unique()
unique_dipla = ship_df2['DIPLA_CITY_CD'].unique()
unique_contsize = ship_df2['CONTAINER_SIZE_CD'].unique()
ship_df3 = pd.DataFrame()

for month in unique_month:
  for dipla in unique_dipla:
    for size in unique_contsize:
      print(month,dipla, size)
      temp = ship_df2[(ship_df2['PCD_Month'] == month) & (ship_df2['DIPLA_CITY_CD'] == dipla)  & (ship_df2['CONTAINER_SIZE_CD'] == size)]
      temp['TT_percentile'] = temp.ActualTurnTime_Days.rank(pct = True)
      ship_df3 = ship_df3.append(temp)

ship_df3['TT_percentile'] = (round(ship_df3['TT_percentile'] * 100))

ship_df3.loc[(ship_df3['TT_percentile'] >= 0) & (ship_df3['TT_percentile'] <= 10), 'Commodity_discount'] = 5
ship_df3.loc[(ship_df3['TT_percentile'] > 10) & (ship_df3['TT_percentile'] <= 25), 'Commodity_discount'] = 4
ship_df3.loc[(ship_df3['TT_percentile'] > 25) & (ship_df3['TT_percentile'] <= 50), 'Commodity_discount'] = 2 
ship_df3.loc[(ship_df3['TT_percentile'] > 50) & (ship_df3['TT_percentile'] <= 75), 'Commodity_discount'] = 1 
ship_df3.loc[(ship_df3['TT_percentile'] > 75) & (ship_df3['TT_percentile'] <= 85), 'Commodity_discount'] = 0
ship_df3.loc[(ship_df3['TT_percentile'] > 85), 'Commodity_discount'] = 0

ship_df3.head()

9 ALDUR 20
9 ALDUR 40
9 BEANT 20
9 BEANT 40
9 BEZEE 20
9 BEZEE 40
9 BGBOJ 20
9 BGBOJ 40
9 BGVAR 20
9 BGVAR 40
9 CYLMS 20
9 CYLMS 40
9 DEBRV 20
9 DEBRV 40
9 DEHAM 20
9 DEHAM 40
9 DEWVN 20
9 DEWVN 40
9 DKAAR 20
9 DKAAR 40
9 DKFRC 20
9 DKFRC 40
9 DKKAL 20
9 DKKAL 40
9 DKTHO 20
9 DKTHO 40
9 DZAAE 20
9 DZAAE 40
9 DZALG 20
9 DZALG 40
9 DZBJA 20
9 DZBJA 40
9 DZORN 20
9 DZORN 40
9 DZSKI 20
9 DZSKI 40
9 EETLL 20
9 EETLL 40
9 EGAIS 20
9 EGAIS 40
9 EGALD 20
9 EGALD 40
9 EGALY 20
9 EGALY 40
9 EGDAM 20
9 EGDAM 40
9 EGPSD 20
9 EGPSD 40
9 ESAEI 20
9 ESAEI 40
9 ESALC 20
9 ESALC 40
9 ESALR 20
9 ESALR 40
9 ESBCN 20
9 ESBCN 40
9 ESBIO 20
9 ESBIO 40
9 ESCAT 20
9 ESCAT 40
9 ESGIJ 20
9 ESGIJ 40
9 ESLPA 20
9 ESLPA 40
9 ESMAR 20
9 ESMAR 40
9 ESMGP 20
9 ESMGP 40
9 ESTRF 20
9 ESTRF 40
9 ESVCI 20
9 ESVCI 40
9 FIHEL 20
9 FIHEL 40
9 FIKTK 20
9 FIKTK 40
9 FIOUL 20
9 FIOUL 40
9 FIRMA 20
9 FIRMA 40
9 FRBES 20
9 FRBES 40
9 FRDUK 20
9 FRDUK 40
9 FRFSM 20
9 FRFSM 40
9 FRLEH 20
9 FRLEH 40
9 FRMTI 20
9 FRMTI 40
9 GBBFS 20
9 GBBFS 40
9 GBFXS 20
9 GBFXS 40
9 GBGMO 20
9 GBGMO 40
9 GBHUL 20
9 GBHUL 40
9 GBLGP 20
9 GBLGP 40
9 GBLPL 20
9 GBLPL 40
9 GBSOU 20
9 GBSOU 40
9 GBSSH 20
9 GBSSH 40
9 GBTBY 20
9 GBTBY 40
9 GBTEE 20
9 GBTEE 40
9 GEPTI 20
9 GEPTI 40
9 GPPTP 20
9 GPPTP 40
9 GRPIR 20
9 GRPIR 40
9 GRSLK 20
9 GRSLK 40
9 HRK1S 20
9 HRK1S 40
9 HRRJK 20
9 HRRJK 40
9 IEDUB 20
9 IEDUB 40
9 IEORK 20
9 IEORK 40
9 ILASD 20
9 ILASD 40
9 ILHFA 20
9 ILHFA 40
9 ITADI 20
9 ITADI 40
9 ITC79 20
9 ITC79 40
9 ITCTA 20
9 ITCTA 40
9 ITCVC 20
9 ITCVC 40
9 ITGOA 20
9 ITGOA 40
9 ITGTO 20
9 ITGTO 40
9 ITLGH 20
9 ITLGH 40
9 ITLSZ 20
9 ITLSZ 40
9 ITNAP 20
9 ITNAP 40
9 ITRAN 20
9 ITRAN 40
9 ITSAL 20
9 ITSAL 40
9 ITTRS 20
9 ITTRS 40
9 ITVCE 20
9 ITVCE 40
9 LBBUU 20
9 LBBUU 40
9 LTKLP 20
9 LTKLP 40
9 LVRIX 20
9 LVRIX 40
9 LYBEG 20
9 LYBEG 40
9 LYKHM 20
9 LYKHM 40
9 LYMRH 20
9 LYMRH 40
9 MAAGA 20
9 MAAGA 40
9 MACAS 20
9 MACAS 40
9 MAPTM 20
9 MAPTM 40
9 MEBAR 20
9 MEBAR 40
9 MQFDF 20
9 MQFDF 40
9 MTJMW 20
9 MTJMW 40
9 NLROT 20
9 NLROT 40
9 NOAES 20
9 NOAES 40
9 NOBGN 20
9 NOBGN 40
9 NOC9K 20
9 NOC9K 40
9 NODRM 20
9 NODRM 40
9 NOEGS 20
9 NOEGS 40
9 NOFLX 20
9 NOFLX 40
9 NOFRS 20
9 NOFRS 40
9 NOHSY 20
9 NOHSY 40
9 NOKRS 20
9 NOKRS 40
9 NOLAV 20
9 NOLAV 40
9 NOMAY 20
9 NOMAY 40
9 NOMOS 20
9 NOMOS 40
9 NOOSL 20
9 NOOSL 40
9 NOSTV 20
9 NOSTV 40
9 PLGDN 20
9 PLGDN 40
9 PLGDY 20
9 PLGDY 40
9 PLSTI 20
9 PLSTI 40
9 PTLEX 20
9 PTLEX 40
9 PTLIS 20
9 PTLIS 40
9 PTSIE 20
9 PTSIE 40
9 REREU 20
9 REREU 40
9 ROCND 20
9 ROCND 40
9 RUAZO 20
9 RUAZO 40
9 RUFIP 20
9 RUFIP 40
9 RUFM5 20
9 RUFM5 40
9 RUKLD 20
9 RUKLD 40
9 RULED 20
9 RULED 40
9 RUNVS 20
9 RUNVS 40
9 RUPLO 20
9 RUPLO 40
9 RUPLP 20
9 RUPLP 40
9 RUUST 20
9 RUUST 40
9 RUVLV 20
9 RUVLV 40
9 RUVYP 20
9 RUVYP 40
9 SEAGH 20
9 SEAGH 40
9 SECVX 20
9 SECVX 40
9 SEGOT 20
9 SEGOT 40
9 SEHAD 20
9 SEHAD 40
9 SENRK 20
9 SENRK 40
9 SIKOP 20
9 SIKOP 40
9 SYER0 20
9 SYER0 40
9 TNSFA 20
9 TNSFA 40
9 TNTUN 20
9 TNTUN 40
9 TRAMB 20
9 TRAMB 40
9 TRGEM 20
9 TRGEM 40
9 TRISK 20
9 TRISK 40
9 TRIZM 20
9 TRIZM 40
9 TRKOR 20
9 TRKOR 40
9 TRMER 20
9 TRMER 40
9 TRTEK 20
9 TRTEK 40
9 TRTFW 20
9 TRTFW 40
9 UAYUZ 20
9 UAYUZ 40
9 ESVGO 20
9 ESVGO 40
9 GBIMM 20
9 GBIMM 40
9 NOMQN 20
9 NOMQN 40
9 NOORK 20
9 NOORK 40
9 TRDRC 20
9 TRDRC 40
9 EGPSW 20
9 EGPSW 40
9 ITCAG 20
9 ITCAG 40
9 NOFUS 20
9 NOFUS 40
10 ALDUR 20
10 ALDUR 40
10 BEANT 20
10 BEANT 40
10 BEZEE 20
10 BEZEE 40
10 BGBOJ 20
10 BGBOJ 40
10 BGVAR 20
10 BGVAR 40
10 CYLMS 20
10 CYLMS 40
10 DEBRV 20
10 DEBRV 40
10 DEHAM 20
10 DEHAM 40
10 DEWVN 20
10 DEWVN 40
10 DKAAR 20
10 DKAAR 40
10 DKFRC 20
10 DKFRC 40
10 DKKAL 20
10 DKKAL 40
10 DKTHO 20
10 DKTHO 40
10 DZAAE 20
10 DZAAE 40
10 DZALG 20
10 DZALG 40
10 DZBJA 20
10 DZBJA 40
10 DZORN 20
10 DZORN 40
10 DZSKI 20
10 DZSKI 40
10 EETLL 20
10 EETLL 40
10 EGAIS 20
10 EGAIS 40
10 EGALD 20
10 EGALD 40
10 EGALY 20
10 EGALY 40
10 EGDAM 20
10 EGDAM 40
10 EGPSD 20
10 EGPSD 40
10 ESAEI 20
10 ESAEI 40
10 ESALC 20
10 ESALC 40
10 ESALR 20
10 ESALR 40
10 ESBCN 20
10 ESBCN 40
10 ESBIO 20
10 ESBIO 40
10 ESCAT 20
10 ESCAT 40
10 ESGIJ 20
10 ESGIJ 40
10 ESLPA 20
10 ESLPA 40
10 ESMAR 20
10 ESMAR 40
10 ESMGP 20
10 ESMGP 40
10 ESTRF 20
10 ESTRF 40
10 ESVCI 20
10 ESVCI 40
10 FIHEL 20
10 FIHEL 40
10 FIKTK 20
10 FIKTK 40
10 FIOUL 20
10 FIOUL 40
10 FIRMA 20
10 FIRMA 40
10 FRBES 20
10 FRBES 40
10 FRDUK 20
10 FRDUK 40
10 FRFSM 20
10 FRFSM 40
10 FRLEH 20
10 FRLEH 40
10 FRMTI 20
10 FRMTI 40
10 GBBFS 20
10 GBBFS 40
10 GBFXS 20
10 GBFXS 40
10 GBGMO 20
10 GBGMO 40
10 GBHUL 20
10 GBHUL 40
10 GBLGP 20
10 GBLGP 40
10 GBLPL 20
10 GBLPL 40
10 GBSOU 20
10 GBSOU 40
10 GBSSH 20
10 GBSSH 40
10 GBTBY 20
10 GBTBY 40
10 GBTEE 20
10 GBTEE 40
10 GEPTI 20
10 GEPTI 40
10 GPPTP 20
10 GPPTP 40
10 GRPIR 20
10 GRPIR 40
10 GRSLK 20
10 GRSLK 40
10 HRK1S 20
10 HRK1S 40
10 HRRJK 20
10 HRRJK 40
10 IEDUB 20
10 IEDUB 40
10 IEORK 20
10 IEORK 40
10 ILASD 20
10 ILASD 40
10 ILHFA 20
10 ILHFA 40
10 ITADI 20
10 ITADI 40
10 ITC79 20
10 ITC79 40
10 ITCTA 20
10 ITCTA 40
10 ITCVC 20
10 ITCVC 40
10 ITGOA 20
10 ITGOA 40
10 ITGTO 20
10 ITGTO 40
10 ITLGH 20
10 ITLGH 40
10 ITLSZ 20
10 ITLSZ 40
10 ITNAP 20
10 ITNAP 40
10 ITRAN 20
10 ITRAN 40
10 ITSAL 20
10 ITSAL 40
10 ITTRS 20
10 ITTRS 40
10 ITVCE 20
10 ITVCE 40
10 LBBUU 20
10 LBBUU 40
10 LTKLP 20
10 LTKLP 40
10 LVRIX 20
10 LVRIX 40
10 LYBEG 20
10 LYBEG 40
10 LYKHM 20
10 LYKHM 40
10 LYMRH 20
10 LYMRH 40
10 MAAGA 20
10 MAAGA 40
10 MACAS 20
10 MACAS 40
10 MAPTM 20
10 MAPTM 40
10 MEBAR 20
10 MEBAR 40
10 MQFDF 20
10 MQFDF 40
10 MTJMW 20
10 MTJMW 40
10 NLROT 20
10 NLROT 40
10 NOAES 20
10 NOAES 40
10 NOBGN 20
10 NOBGN 40
10 NOC9K 20
10 NOC9K 40
10 NODRM 20
10 NODRM 40
10 NOEGS 20
10 NOEGS 40
10 NOFLX 20
10 NOFLX 40
10 NOFRS 20
10 NOFRS 40
10 NOHSY 20
10 NOHSY 40
10 NOKRS 20
10 NOKRS 40
10 NOLAV 20
10 NOLAV 40
10 NOMAY 20
10 NOMAY 40
10 NOMOS 20
10 NOMOS 40
10 NOOSL 20
10 NOOSL 40
10 NOSTV 20
10 NOSTV 40
10 PLGDN 20
10 PLGDN 40
10 PLGDY 20
10 PLGDY 40
10 PLSTI 20
10 PLSTI 40
10 PTLEX 20
10 PTLEX 40
10 PTLIS 20
10 PTLIS 40
10 PTSIE 20
10 PTSIE 40
10 REREU 20
10 REREU 40
10 ROCND 20
10 ROCND 40
10 RUAZO 20
10 RUAZO 40
10 RUFIP 20
10 RUFIP 40
10 RUFM5 20
10 RUFM5 40
10 RUKLD 20
10 RUKLD 40
10 RULED 20
10 RULED 40
10 RUNVS 20
10 RUNVS 40
10 RUPLO 20
10 RUPLO 40
10 RUPLP 20
10 RUPLP 40
10 RUUST 20
10 RUUST 40
10 RUVLV 20
10 RUVLV 40
10 RUVYP 20
10 RUVYP 40
10 SEAGH 20
10 SEAGH 40
10 SECVX 20
10 SECVX 40
10 SEGOT 20
10 SEGOT 40
10 SEHAD 20
10 SEHAD 40
10 SENRK 20
10 SENRK 40
10 SIKOP 20
10 SIKOP 40
10 SYER0 20
10 SYER0 40
10 TNSFA 20
10 TNSFA 40
10 TNTUN 20
10 TNTUN 40
10 TRAMB 20
10 TRAMB 40
10 TRGEM 20
10 TRGEM 40
10 TRISK 20
10 TRISK 40
10 TRIZM 20
10 TRIZM 40
10 TRKOR 20
10 TRKOR 40
10 TRMER 20
10 TRMER 40
10 TRTEK 20
10 TRTEK 40
10 TRTFW 20
10 TRTFW 40
10 UAYUZ 20
10 UAYUZ 40
10 ESVGO 20
10 ESVGO 40
10 GBIMM 20
10 GBIMM 40
10 NOMQN 20
10 NOMQN 40
10 NOORK 20
10 NOORK 40
10 TRDRC 20
10 TRDRC 40
10 EGPSW 20
10 EGPSW 40
10 ITCAG 20
10 ITCAG 40
10 NOFUS 20
10 NOFUS 40
11 ALDUR 20
11 ALDUR 40
11 BEANT 20
11 BEANT 40
11 BEZEE 20
11 BEZEE 40
11 BGBOJ 20
11 BGBOJ 40
11 BGVAR 20
11 BGVAR 40
11 CYLMS 20
11 CYLMS 40
11 DEBRV 20
11 DEBRV 40
11 DEHAM 20
11 DEHAM 40
11 DEWVN 20
11 DEWVN 40
11 DKAAR 20
11 DKAAR 40
11 DKFRC 20
11 DKFRC 40
11 DKKAL 20
11 DKKAL 40
11 DKTHO 20
11 DKTHO 40
11 DZAAE 20
11 DZAAE 40
11 DZALG 20
11 DZALG 40
11 DZBJA 20
11 DZBJA 40
11 DZORN 20
11 DZORN 40
11 DZSKI 20
11 DZSKI 40
11 EETLL 20
11 EETLL 40
11 EGAIS 20
11 EGAIS 40
11 EGALD 20
11 EGALD 40
11 EGALY 20
11 EGALY 40
11 EGDAM 20
11 EGDAM 40
11 EGPSD 20
11 EGPSD 40
11 ESAEI 20
11 ESAEI 40
11 ESALC 20
11 ESALC 40
11 ESALR 20
11 ESALR 40
11 ESBCN 20
11 ESBCN 40
11 ESBIO 20
11 ESBIO 40
11 ESCAT 20
11 ESCAT 40
11 ESGIJ 20
11 ESGIJ 40
11 ESLPA 20
11 ESLPA 40
11 ESMAR 20
11 ESMAR 40
11 ESMGP 20
11 ESMGP 40
11 ESTRF 20
11 ESTRF 40
11 ESVCI 20
11 ESVCI 40
11 FIHEL 20
11 FIHEL 40
11 FIKTK 20
11 FIKTK 40
11 FIOUL 20
11 FIOUL 40
11 FIRMA 20
11 FIRMA 40
11 FRBES 20
11 FRBES 40
11 FRDUK 20
11 FRDUK 40
11 FRFSM 20
11 FRFSM 40
11 FRLEH 20
11 FRLEH 40
11 FRMTI 20
11 FRMTI 40
11 GBBFS 20
11 GBBFS 40
11 GBFXS 20
11 GBFXS 40
11 GBGMO 20
11 GBGMO 40
11 GBHUL 20
11 GBHUL 40
11 GBLGP 20
11 GBLGP 40
11 GBLPL 20
11 GBLPL 40
11 GBSOU 20
11 GBSOU 40
11 GBSSH 20
11 GBSSH 40
11 GBTBY 20
11 GBTBY 40
11 GBTEE 20
11 GBTEE 40
11 GEPTI 20
11 GEPTI 40
11 GPPTP 20
11 GPPTP 40
11 GRPIR 20
11 GRPIR 40
11 GRSLK 20
11 GRSLK 40
11 HRK1S 20
11 HRK1S 40
11 HRRJK 20
11 HRRJK 40
11 IEDUB 20
11 IEDUB 40
11 IEORK 20
11 IEORK 40
11 ILASD 20
11 ILASD 40
11 ILHFA 20
11 ILHFA 40
11 ITADI 20
11 ITADI 40
11 ITC79 20
11 ITC79 40
11 ITCTA 20
11 ITCTA 40
11 ITCVC 20
11 ITCVC 40
11 ITGOA 20
11 ITGOA 40
11 ITGTO 20
11 ITGTO 40
11 ITLGH 20
11 ITLGH 40
11 ITLSZ 20
11 ITLSZ 40
11 ITNAP 20
11 ITNAP 40
11 ITRAN 20
11 ITRAN 40
11 ITSAL 20
11 ITSAL 40
11 ITTRS 20
11 ITTRS 40
11 ITVCE 20
11 ITVCE 40
11 LBBUU 20
11 LBBUU 40
11 LTKLP 20
11 LTKLP 40
11 LVRIX 20
11 LVRIX 40
11 LYBEG 20
11 LYBEG 40
11 LYKHM 20
11 LYKHM 40
11 LYMRH 20
11 LYMRH 40
11 MAAGA 20
11 MAAGA 40
11 MACAS 20
11 MACAS 40
11 MAPTM 20
11 MAPTM 40
11 MEBAR 20
11 MEBAR 40
11 MQFDF 20
11 MQFDF 40
11 MTJMW 20
11 MTJMW 40
11 NLROT 20
11 NLROT 40
11 NOAES 20
11 NOAES 40
11 NOBGN 20
11 NOBGN 40
11 NOC9K 20
11 NOC9K 40
11 NODRM 20
11 NODRM 40
11 NOEGS 20
11 NOEGS 40
11 NOFLX 20
11 NOFLX 40
11 NOFRS 20
11 NOFRS 40
11 NOHSY 20
11 NOHSY 40
11 NOKRS 20
11 NOKRS 40
11 NOLAV 20
11 NOLAV 40
11 NOMAY 20
11 NOMAY 40
11 NOMOS 20
11 NOMOS 40
11 NOOSL 20
11 NOOSL 40
11 NOSTV 20
11 NOSTV 40
11 PLGDN 20
11 PLGDN 40
11 PLGDY 20
11 PLGDY 40
11 PLSTI 20
11 PLSTI 40
11 PTLEX 20
11 PTLEX 40
11 PTLIS 20
11 PTLIS 40
11 PTSIE 20
11 PTSIE 40
11 REREU 20
11 REREU 40
11 ROCND 20
11 ROCND 40
11 RUAZO 20
11 RUAZO 40
11 RUFIP 20
11 RUFIP 40
11 RUFM5 20
11 RUFM5 40
11 RUKLD 20
11 RUKLD 40
11 RULED 20
11 RULED 40
11 RUNVS 20
11 RUNVS 40
11 RUPLO 20
11 RUPLO 40
11 RUPLP 20
11 RUPLP 40
11 RUUST 20
11 RUUST 40
11 RUVLV 20
11 RUVLV 40
11 RUVYP 20
11 RUVYP 40
11 SEAGH 20
11 SEAGH 40
11 SECVX 20
11 SECVX 40
11 SEGOT 20
11 SEGOT 40
11 SEHAD 20
11 SEHAD 40
11 SENRK 20
11 SENRK 40
11 SIKOP 20
11 SIKOP 40
11 SYER0 20
11 SYER0 40
11 TNSFA 20
11 TNSFA 40
11 TNTUN 20
11 TNTUN 40
11 TRAMB 20
11 TRAMB 40
11 TRGEM 20
11 TRGEM 40
11 TRISK 20
11 TRISK 40
11 TRIZM 20
11 TRIZM 40
11 TRKOR 20
11 TRKOR 40
11 TRMER 20
11 TRMER 40
11 TRTEK 20
11 TRTEK 40
11 TRTFW 20
11 TRTFW 40
11 UAYUZ 20
11 UAYUZ 40
11 ESVGO 20
11 ESVGO 40
11 GBIMM 20
11 GBIMM 40
11 NOMQN 20
11 NOMQN 40
11 NOORK 20
11 NOORK 40
11 TRDRC 20
11 TRDRC 40
11 EGPSW 20
11 EGPSW 40
11 ITCAG 20
11 ITCAG 40
11 NOFUS 20
11 NOFUS 40

      PCD_Month DIPLA_CITY_CD  ... TT_percentile  Commodity_discount
42093         9         ALDUR  ...          40.0                 2.0
42095         9         ALDUR  ...          62.0                 1.0
42097         9         ALDUR  ...          40.0                 2.0
42098         9         ALDUR  ...          57.0                 1.0
42100         9         ALDUR  ...          29.0                 2.0

[5 rows x 7 columns]

In [ ]:
cngftex_comm = ship_df1.merge(ship_df3, on = ['PCD_Month', 'DIPLA_CITY_CD', 'CONTAINER_SIZE_CD'], how='left')
cngftex_comm = cngftex_comm.rename(columns={'DIPLA_CITY_CD':'Port'})
cngftex_comm.tail()

        PCD_Month CONSIGNEE_CUSTOMER_CD  ... TT_percentile  Commodity_discount
4559949        11            5043000523  ...          83.0                 0.0
4559950        11            5043000523  ...          67.0                 1.0
4559951        11            5043000523  ...          12.0                 4.0
4559952        11            5043000523  ...          71.0                 1.0
4559953        11            5043000523  ...          42.0                 2.0

[5 rows x 12 columns]

In [ ]:
cftex_cngftex_comm = cngftex_comm.copy()
cftex_cngftex_comm['Actual_%Charge'] = 75

cftex_cngftex_comm['new_Actual_%Charge'] = cftex_cngftex_comm['Actual_%Charge'] - cftex_cngftex_comm['Commodity_discount'] - cftex_cngftex_comm['FTEx_discount'] 

cftex_cngftex_comm['total_discount%'] = abs(cftex_cngftex_comm['new_Actual_%Charge'] - 100)

cftex_cngftex_comm[(cftex_cngftex_comm['CONSIGNEE_CUSTOMER_CD']=='118208159') & (cftex_cngftex_comm['PCD_Month']=='04') & (cftex_cngftex_comm['FTEx_discount'] > 0)].head()

cftex_cngftex_comm = cftex_cngftex_comm[['PCD_Month','Port', 'CONSIGNEE_CUSTOMER_CD', 'CommoditySubType_Dsc',  'CONTAINER_SIZE_CD', 'new_Actual_%Charge']].dropna()
cftex_cngftex_comm.tail()

        PCD_Month   Port  ... CONTAINER_SIZE_CD new_Actual_%Charge
4559949        11  ITC79  ...                40               75.0
4559950        11  ITC79  ...                40               74.0
4559951        11  ITC79  ...                40               71.0
4559952        11  ITC79  ...                40               74.0
4559953        11  ITC79  ...                40               73.0

[5 rows x 6 columns]

In [ ]:
a = cftex_cngftex_comm['new_Actual_%Charge'].unique()
a.sort()
a

array([65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75.])

In [ ]:
cftex_cngftex_comm = cftex_cngftex_comm.sort_values(by=['PCD_Month', 'Port', 'CONSIGNEE_CUSTOMER_CD', 'CommoditySubType_Dsc', 'CONTAINER_SIZE_CD', 'new_Actual_%Charge']).reset_index().drop('index', axis=1)

cftex_cngftex_comm['COUNTRY_CODE'] = cftex_cngftex_comm['Port'].apply(lambda x:x[:2])
cftex_cngftex_comm['CONTAINER_SIZE_CD'] = cftex_cngftex_comm['CONTAINER_SIZE_CD'].astype(int)
cftex_cngftex_comm.head()

  PCD_Month   Port  ... new_Actual_%Charge COUNTRY_CODE
0        10  ALDUR  ...               70.0           AL
1        10  ALDUR  ...               74.0           AL
2        10  ALDUR  ...               73.0           AL
3        10  ALDUR  ...               69.0           AL
4        10  ALDUR  ...               72.0           AL

[5 rows x 7 columns]

In [ ]:
cftex_cngftex_comm_spark = spark.createDataFrame(cftex_cngftex_comm) 
cftex_cngftex_comm_spark.write.mode("overwrite").saveAsTable("dnd.cftex_pricing_v2_eur")

In [ ]:
cftex_cngftex_comm = spark.sql("""select * from dnd.cftex_pricing_v2_eur""")
cftex_cngftex_comm = cftex_cngftex_comm.toPandas()
cftex_cngftex_comm.tail()

        PCD_Month   Port  ... new_Actual_%Charge COUNTRY_CODE
4559949        10  NLROT  ...               70.0           NL
4559950        10  NLROT  ...               70.0           NL
4559951        10  NLROT  ...               75.0           NL
4559952        10  NLROT  ...               73.0           NL
4559953        10  NLROT  ...               71.0           NL

[5 rows x 7 columns]

In [ ]:
charge = cftex_cngftex_comm['new_Actual_%Charge'].unique()
charge

array([73., 74., 70., 71., 75., 72., 68., 69., 65., 66., 67.])

In [ ]:
charge_cftex = pd.DataFrame()

for start_perc in charge:
  slab_charge_percentage = start_perc
  charge_percentage = start_perc
  diff_days = 1
  diff_slabs_percent = 2

  column_names = ['Arrival-10','Arrival-9','Arrival-8','Arrival-7','Arrival-6','Arrival-5','Arrival-4',
                  'Arrival-3','Arrival-2','Arrival-1']

  df = pd.DataFrame(columns = column_names)

  for i in range(10,0,-2):
      for j in range(0,3):       
          Discount_Percent = slab_charge_percentage
          slab_charge_percentage = slab_charge_percentage - (slab_charge_percentage * diff_slabs_percent)/100
          df.loc['{}'.format(j+1), 'Arrival-{}'.format(i)] = round(Discount_Percent)
          df.loc['{}'.format(j+1), 'Arrival-{}'.format(i-1)] = round(Discount_Percent) 
      charge_percentage += diff_days
      slab_charge_percentage = charge_percentage

  df['Slab'] = df.index
  df = df.reset_index().drop('index', axis=1)
  df['new_Actual_%Charge'] = start_perc
  charge_cftex = charge_cftex.append(df)

charge_cftex.loc[charge_cftex['Slab'] == '1', 'Slab_End_Day'] = 5
charge_cftex.loc[charge_cftex['Slab'] == '2', 'Slab_End_Day'] = 10
charge_cftex.loc[charge_cftex['Slab'] == '3', 'Slab_End_Day'] = 14
charge_cftex.tail()

  Arrival-10 Arrival-9 Arrival-8  ... Slab new_Actual_%Charge Slab_End_Day
1         65        65        66  ...    2               66.0         10.0
2         63        63        64  ...    3               66.0         14.0
0         67        67        68  ...    1               67.0          5.0
1         66        66        67  ...    2               67.0         10.0
2         64        64        65  ...    3               67.0         14.0

[5 rows x 13 columns]

In [ ]:
a = charge_cftex['Arrival-1'].unique()
a.sort()
a

array([66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
      dtype=object)

In [ ]:
a = charge_cftex['Arrival-10'].unique()
a.sort()
a

array([62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75],
      dtype=object)

In [ ]:
main_cftex = cftex_cngftex_comm.merge(charge_cftex, on=['new_Actual_%Charge'], how='left')

main_cftex = main_cftex[['PCD_Month', 'Port','CONSIGNEE_CUSTOMER_CD', 'CommoditySubType_Dsc',  'CONTAINER_SIZE_CD', 'Slab', 'Slab_End_Day', 'Arrival-10', 'Arrival-9', 'Arrival-8', 'Arrival-7', 'Arrival-6', 'Arrival-5', 'Arrival-4', 'Arrival-3', 'Arrival-2', 'Arrival-1']]
main_cftex[['Slab', 'Slab_End_Day', 'Arrival-10', 'Arrival-9', 'Arrival-8', 'Arrival-7', 'Arrival-6', 'Arrival-5', 'Arrival-4', 'Arrival-3', 'Arrival-2', 'Arrival-1']] = main_cftex[['Slab', 'Slab_End_Day', 'Arrival-10', 'Arrival-9', 'Arrival-8', 'Arrival-7', 'Arrival-6', 'Arrival-5', 'Arrival-4', 'Arrival-3', 'Arrival-2', 'Arrival-1']].astype(int)
main_cftex = main_cftex.rename(columns={'PCD_Month':'Pcd_Month', 'Port':'Dipla_CD'})
#main_cftex.head()

In [ ]:
len(main_cftex)

13679862

In [ ]:
commodity =spark.read.format("delta").load("/mnt/Gen2_prod_cleansed_gcss/mars_commodities/")
commodity.createOrReplaceTempView("commodity")

commodity = spark.sql(""" select distinct commodity.code, name from commodity  order by 2""")

commodity = commodity.toPandas()
commodity = commodity.rename(columns={'name':'CommoditySubType_Dsc', 'code':'Commodity_CD'})
commodity = commodity[commodity['Commodity_CD'].apply(lambda x:len(x) == 4) ]

main_cftex = main_cftex.merge(commodity, on = 'CommoditySubType_Dsc', how='left')
main_cftex.tail()

         Pcd_Month Dipla_CD  ... Arrival-1 Commodity_CD
13679857        10    NLROT  ...        75         0005
13679858        10    NLROT  ...        74         0005
13679859        10    NLROT  ...        75         0005
13679860        10    NLROT  ...        74         0005
13679861        10    NLROT  ...        72         0005

[5 rows x 18 columns]

In [ ]:
main_cftex['Operator'] = 'MAEU'
main_cftex['CONTAINER_Type'] = 'Dry'

main_cftex = main_cftex[['Operator', 'Pcd_Month', 'Dipla_CD', 'CONSIGNEE_CUSTOMER_CD', 'CommoditySubType_Dsc', 'Commodity_CD', 'CONTAINER_SIZE_CD', 'CONTAINER_Type', 'Slab', 'Slab_End_Day', 'Arrival-10', 'Arrival-9', 'Arrival-8', 'Arrival-7', 'Arrival-6', 'Arrival-5', 'Arrival-4', 'Arrival-3', 'Arrival-2', 'Arrival-1']]
main_cftex = main_cftex.fillna('')
main_cftex = main_cftex.rename(columns={'CONSIGNEE_CUSTOMER_CD':'Consignee_CD', 'CommoditySubType_Dsc':'Commodity', 'CONTAINER_SIZE_CD':'Cont_Size', 'CONTAINER_Type':'Cont_Type'})
main_cftex.head()

  Operator Pcd_Month Dipla_CD  ... Arrival-3 Arrival-2 Arrival-1
0     MAEU         9    NLROT  ...        76        77        77
1     MAEU         9    NLROT  ...        74        75        75
2     MAEU         9    NLROT  ...        73        74        74
3     MAEU         9    NLROT  ...        76        77        77
4     MAEU         9    NLROT  ...        74        75        75

[5 rows x 20 columns]

In [ ]:
len(main_cftex)

13679862

In [ ]:
pricingdf = spark.createDataFrame(main_cftex)
pricingdf.write.mode("overwrite").saveAsTable("dnd.pricingdf_v2_eur")